@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue-webfont.woff2") format("woff2"), url("../fonts/bebasneue-webfont.woff") format("woff"), url("../fonts/bebasneue-webfont.ttf") format("truetype"), url("../fonts/bebasneue-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
* {
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 700; }
  @media (min-width: 850px) {
    body {
      font-size: 17px; } }

p {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

textarea {
  color: #4b4b4b;
  text-transform: uppercase;
  resize: none;
  background: transparent;
  border: 0;
  padding: 0;
  vertical-align: bottom; }

textarea:focus {
  border: none;
  outline: none;
  color: #4b4b4b; }

::-webkit-input-placeholder {
  /* Chrome */
  color: #4b4b4b;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #4b4b4b;
  opacity: 1;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4b4b4b;
  opacity: 1;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #4b4b4b;
  opacity: 1;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

:focus::-webkit-input-placeholder {
  /* Chrome */
  color: #4b4b4b;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #4b4b4b;
  opacity: 0;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #4b4b4b;
  opacity: 0;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

:focus:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #4b4b4b;
  opacity: 0;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

.intro h1 {
  margin: 0;
  padding-right: 20px;
  display: inline-block;
  vertical-align: middle; }
  @media (min-width: 850px) {
    .intro h1 {
      padding-right: 45px; } }

.intro p {
  margin: 10px 0; }
  @media (min-width: 850px) {
    .intro p {
      margin: 15px 0; } }

.sub-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  display: inline-block;
  vertical-align: middle; }
  @media (min-width: 850px) {
    .sub-title {
      font-size: 38px; } }

.text-main {
  color: #4b4b4b;
  font-family: "Bebas Neue", sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -2px; }
  @media (min-width: 850px) {
    .text-main {
      font-size: 82px; } }

.btn {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  color: #f6c500;
  background: #4b4b4b;
  display: inline-block;
  text-transform: uppercase;
  padding: 20px;
  margin: 20px 15px 0 0;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background 0.2s ease-out, color 0.2s ease-out;
  -ms-transition: background 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background 0.2s ease-out, color 0.2s ease-out;
  transition: background 0.2s ease-out, color 0.2s ease-out; }
  @media (min-width: 850px) {
    .btn {
      margin: 30px 25px 0 0;
      padding: 25px;
      font-size: 30px; } }

.btn:hover {
  color: #4b4b4b;
  background: #f6c500;
  border: 0; }

.btn:focus {
  outline: none; }

.clear {
  width: 45px;
  position: absolute;
  right: 30px;
  margin-top: 35px;
  float: right;
  display: block;
  cursor: pointer; }
  @media (min-width: 850px) {
    .clear {
      width: 60px;
      right: 55px;
      margin-top: 37px; } }

.like-buttons {
  padding-left: 20px;
  margin-left: 0; }

#___plusone_0 {
  width: 60px !important; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  background: url("../img/talk-in-code-bg.jpg") 0 0/cover no-repeat;
  min-height: 100%; }

.container {
  max-width: 850px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (min-width: 850px) {
    .container {
      padding: 0 75px 0 15px;
      margin: 0 auto; } }

.intro {
  margin: 100px 0 50px;
  padding: 0 15px; }
  @media (min-width: 850px) {
    .intro {
      margin: 140px 0 50px;
      padding: 0 30px; } }

.control-container {
  padding: 0 15px;
  margin-bottom: 75px; }
  @media (min-width: 850px) {
    .control-container {
      padding: 0 30px; } }

.input-container {
  position: relative;
  border-top: 8px solid #4b4b4b;
  border-bottom: 8px solid #4b4b4b;
  overflow: hidden; }

.input-container textarea,
.input-container p {
  height: 200px;
  padding: 0 15px;
  margin: 30px 0;
  width: 80%;
  overflow: auto; }
  @media (min-width: 850px) {
    .input-container textarea,
    .input-container p {
      height: 245px;
      padding: 0 30px; } }

header {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 0; }

.header-title {
  display: none;
  float: right;
  margin: 0 35px; }
  @media (min-width: 850px) {
    .header-title {
      display: block; } }
  .header-title p {
    font-size: 22px;
    margin: 10px 0; }

.like-buttons {
  float: left;
  margin: 10px 0; }
  .like-buttons li {
    float: left;
    padding-right: 15px; }

#___plusone_0 {
  width: 60px !important; }

/*# sourceMappingURL=style.css.map */
