.group:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
	background: url('../img/talk-in-code-bg.jpg') 0 0 / cover no-repeat;
	min-height: 100%;
}

.container {
	max-width: 850px;
	min-width: 320px;
	padding: 0 15px;
	margin: 0 auto;
		@media #{$brk-sm} {
			padding: 0 75px 0 15px;
			margin: 0 auto;
		}
}

.intro {
	margin: 100px 0 50px;
	padding: 0 15px;
		@media #{$brk-sm} {
			margin: 140px 0 50px;
			padding: 0 30px;
		}
}

.control-container {
	padding: 0 15px;
	margin-bottom: 75px;
		@media #{$brk-sm} {
			padding: 0 30px;
		}
}