@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bebasneue-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bebasneue-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bebasneue-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bebasneue-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/robot-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/robot-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/robot-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/robot-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/robot-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/robot-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}