header {
	background: $white;
	position: absolute;
	width: 100%;
	top: 0;
}

.header-title {
	display: none;
	float: right;
	margin: 0 35px;
		@media #{$brk-sm} {
			display: block;
		}
		& p {
			font-size: 22px;
			margin: 10px 0;
		}
}

.like-buttons {
	float: left;
	margin: 10px 0;
	 	& li {
			float: left;
			padding-right: 15px; 
	 	}
}

// Change width og G+ button

#___plusone_0 { 
	width:60px !important; 
}