////////////////////
//Colours
////////////////////

$white: #fff;
$dark-gray: #4b4b4b;
$yellow: #f6c500;



////////////////////
//Fonts
////////////////////

$brand-font: "Bebas Neue", sans-serif;
$content-font: "Roboto Bold", sans-serif;

///////////////////
//Breakpoints
///////////////////

$brk-sm: '(min-width: 850px)';